---
import ButtonLink from "../components/ButtonLink.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Page Not Found | Harry Pearce Carpentry",
    description:
      "Sorry, the page you're looking for doesn't exist. Visit our homepage to find carpentry and handyman services in Folkestone and Capel-le-Ferne.",
  }}
>
  <section
    class="flex flex-col items-center text-center gap-8 justify-center py-16 wrapper"
  >
    <H1 title="404" />
    <p class="text-lg">Page not found</p>
    <ButtonLink href="/" label="Go to home" />
  </section>
</BaseLayout>
