---
import ButtonLink from "../components/ButtonLink.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Server Error | Harry Pearce Carpentry",
    description:
      "We're experiencing technical difficulties. Please try again later or contact us directly for carpentry services in Folkestone and Capel-le-Ferne.",
  }}
>
  <section
    class="flex flex-col items-center text-center gap-8 justify-center py-16 wrapper"
  >
    <H1 title="Something went wrong" />
    <p class="text-lg">Please try again later</p>
    <ButtonLink href="/" label="Go to home" />
  </section>
</BaseLayout>
