---
import H1 from "../components/H1.astro";
import { contact } from "../data";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Contact me",
    description:
      "Get in touch with me to discuss your project and get a free quote.",
  }}
>
  <section class="flex flex-col items-center justify-center py-16 wrapper">
    <H1 title="Get in touch" />
    <div class="flex flex-col gap-2 justify-center items-center p-16">
      <p class="text-lg md:text-xl">
        <a href={`mailto:${contact.email}`}>{contact.email}</a>
      </p>
      <p class="text-lg md:text-xl">
        <a href={`tel:${contact.phone}`}>{contact.phoneFormatted}</a>
      </p>
    </div>
  </section>
</BaseLayout>
