---
import { Image } from "astro:assets";
import ButtonLink from "../components/ButtonLink.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import main from "../images/main.jpg";
import portrait from "../images/harry-portrait.jpg";
---

<BaseLayout
  meta={{
    title: "Carpenter and handyman Capel-le-Ferne",
    description:
      "Professional carpenter and handyman serving Capel-le-Ferne / Folkestone, Kent. Kitchen fitting, door hanging, flat-pack assembly & more. Free quotes.",
  }}
>
  <section class="py-16 bg-muted/20">
    <div
      class="flex flex-col gap-4 wrapper items-center text-center justify-center"
    >
      <H1 title="Hi, I'm Harry" />
      <p class="text-lg text-text">
        I'm a friendly, professional carpenter and handyman.<br />Serving
        Capel-le-Ferne, Folkestone and other surrounding areas in Kent.
      </p>
      <ButtonLink href="/services" label="View Services" />
    </div>
  </section>

  <section
    class="flex items-center justify-center py-0 md:py-4 md:py-8 max-w-5xl mx-auto"
  >
    <Image
      src={main}
      alt="Harry Pearce and his van in Capel-le-Ferne"
      class="w-full object-cover"
      decoding="async"
      widths={[640, 1024, 1600]}
      sizes="(max-width: 768px) 100vw, 1024px"
    />
  </section>

  <section class="py-8 md:py-16">
    <div class="wrapper grid md:grid-cols-[2fr_1fr] gap-8">
      <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">No job too small</h2>
        <p class="text-text">
          I take pride in delivering high-quality workmanship with a friendly,
          reliable approach. No job is too small, and I'll work with you to find
          the right solution for your needs.
        </p>
        <ul class="list-disc list-inside text-text">
          <li>Carpentry</li>
          <li>Handyman</li>
          <li>Flat-Pack Assembly</li>
          <li>Kitchen Installation</li>
          <li>Door Fitting & Hanging</li>
          <li>Stud Wall Construction</li>
          <li>Architrave & Skirting</li>
          <li>Shelving & Wall Storage</li>
          <li>much more...</li>
        </ul>
      </div>
      <div>
        <Image
          src={portrait}
          alt="Harry Pearce and little Dylan"
          class="w-full object-cover max-w-[400px]"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </section>
</BaseLayout>
