---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Home",
    description: "I am a carpenter and handyman in Capel-le-Ferne, Kent",
  }}
>
  <section class="flex flex-col items-center justify-center py-16 px-4">
    <h1 class="text-4xl font-bold">🚀 Coming Soon</h1>
  </section>
</BaseLayout>
