<div class="mt-auto">
  <section class="bg-primary text-primary-foreground px-4 py-8">
    <div
      class="max-w-6xl mx-auto flex flex-col gap-4 justify-center items-center"
    >
      <h2 class="text-2xl font-bold">Work with me</h2>
      <p>Contact me today to discuss your project and get a free quote.</p>
      <a
        href="/contact"
        class="bg-primary-foreground text-primary px-4 py-2 rounded-md"
        >Contact me</a
      >
    </div>
  </section>
  <footer class="bg-foreground text-background px-4 py-8 text-sm">
    <div
      class="max-w-6xl mx-auto flex items-center flex-col md:flex-row justify-center md:justify-between gap-4"
    >
      <p>Harry Pearce Carpentry</p>
      <p>Carpentry &amp; Handyman Services - Capel-le-Ferne, Kent</p>
    </div>
  </footer>
</div>
