---
import ButtonLink from "./ButtonLink.astro";
import { ShieldCheck } from "@lucide/astro";
import { areas } from "../data";
---

<div class="mt-auto">
  <section class="bg-muted/20 text-muted-foreground py-16">
    <div
      class="wrapper flex flex-col gap-4 justify-center items-center text-center"
    >
      <h2 class="text-2xl font-bold">Areas I cover</h2>
      <p class="text-text">
        I work in and around Capel-le-Ferne, Folkestone and surrounding areas.
      </p>
      <ul class="grid grid-cols-2 md:grid-cols-3 gap-4 text-lg mt-4">
        {areas.map((area) => <li>{area}</li>)}
      </ul>
    </div>
  </section>
  <section class="bg-muted text-muted-foreground py-16">
    <div
      class="wrapper flex flex-col gap-4 justify-center items-center text-center"
    >
      <h2 class="text-2xl font-bold">Work with me</h2>
      <p>Contact me today to discuss your project and get a free quote.</p>
      <ButtonLink href="/contact" label="Contact me" />
    </div>
  </section>
  <footer class="bg-foreground text-background py-8 text-sm">
    <div
      class="wrapper flex items-center flex-col md:flex-row justify-center md:justify-between gap-4"
    >
      <div class="flex items-center gap-2">
        <ShieldCheck size={36} class="text-background/70" stroke-width={1.2} />
        <p class="flex flex-col">
          <span class="font-bold uppercase">Fully insured</span>with Public
          Liability Insurance
        </p>
      </div>
      <p>Carpentry &amp; Handyman Services - Capel-le-Ferne, Kent</p>
    </div>
  </footer>
</div>
