<footer
  class="bg-foreground text-background p-4 text-center flex flex-col md:flex-row gap-2 justify-center md:justify-between items-center text-sm"
>
  <p>Harry Pearce Carpentry</p>
  <p>Carpentry &amp; Handyman Services - Capel-le-Ferne, Kent</p>
</footer>
