<footer class="bg-primary text-primary-foreground p-4 text-sm mt-auto">
  <div
    class="max-w-6xl mx-auto flex items-center flex-col md:flex-row justify-center md:justify-between gap-2"
  >
    <p>Harry Pearce Carpentry</p>
    <p>Carpentry &amp; Handyman Services - Capel-le-Ferne, Kent</p>
  </div>
</footer>
