---
import Sidebar from "./Sidebar.astro";
import { navigation } from "../navigation";
import cn from "../utils/cn";

const currentPath = Astro.url.pathname;
---

<header class="bg-white shadow-md">
  <div class="max-w-6xl mx-auto flex items-center justify-between px-6 py-4">
    <!-- Logo -->
    <a href="/" class="flex flex-col text-primary">
      <span class="text-xl">Harry Pearce</span>
      <span class="font-bold">Carpentry</span>
    </a>

    <!-- Navigation -->
    <nav class="hidden md:block">
      <ul class="flex justify-end gap-6">
        {
          navigation.map((link) => (
            <li>
              <a
                href={link.href}
                class={cn(
                  "text-gray-700 hover:text-indigo-600 transition-colors",
                  currentPath === link.href && "text-indigo-600"
                )}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Sidebar />
  </div>
</header>
