---
import Sidebar from "./Sidebar.astro";
import { navigation } from "../navigation";
import cn from "../utils/cn";
import LogoIcon from "./icons/Logo.astro";
import isActiveLink from "../utils/is-active-link";

const currentPath = Astro.url.pathname;
---

<header class="border-b border-border/50">
  <div class="wrapper flex items-center justify-between py-8">
    <!-- Logo -->
    <a href="/" class="flex text-foreground gap-2 items-center">
      <LogoIcon class="size-16" />
      <span class="flex flex-col"
        ><span class="text-xl font-heading leading-[1.2]">Harry Pearce</span>
        <span
          class="text-lg font-heading text-muted-foreground tracking-wider leading-[1.2]"
          >Carpentry</span
        ></span
      >
    </a>

    <!-- Navigation -->
    <nav class="hidden md:block">
      <ul class="flex justify-end gap-6">
        {
          navigation.map((link) => {
            const isActive = isActiveLink(currentPath, link);

            return (
              <li>
                <a
                  href={link.href}
                  class={cn(
                    "text-foreground hover:text-primary font-heading transition-colors border-b-2 border-transparent hover:border-muted py-1",
                    isActive && "text-primary border-muted"
                  )}
                >
                  {link.label}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <Sidebar />
  </div>
</header>
